# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorar dependências do Node.js
node_modules

# Ignorar diretório de build do Next.js
.next

# Ignorar arquivo package-lock.json
package-lock.json
